.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  padding: 3rem;
}

.details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  color: var(--color-white);
}

.detail:last-child {
  text-align: right;
}

.detail:last-child p {
  max-width: 240px;
  align-self: flex-end;
}

.detail p {
  font-weight: 500;
}

.logo {
  align-self: flex-end;
  position: relative;
  width: 150px;
  aspect-ratio: 150 / 40;
}

@media (max-width: 600px) {
  .details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .detail {
    text-align: center;
  }

  .detail:last-child {
    text-align: center;
  }

  .detail:last-child p {
    max-width: 100%;
  }

  .logo {
    align-self: center;
  }
}
