.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  height: 100px;
  display: flex;
  width: clamp(450px, 50%, 50%);
  align-items: center;
  justify-content: space-between;
}

.navItem[data-active="true"] {
  transition: 0.25s ease-in-out;
  color: var(--color-abersoft-blue);
  font-weight: bold;
  font-size: 18px;
}
