.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navItem[data-active="true"] {
  transition: 0.25s ease-in-out;
  color: var(--color-abersoft-blue);
  font-weight: bold;
  font-size: 18px;
}

.burgerMenu {
  display: none;
}

@media (max-width: 600px) {
  .header {
    justify-content: flex-end;
    padding-top: 2rem;
  }
  .burgerMenu {
    cursor: pointer;
    display: block;
    position: relative;
    width: 32px;
    height: 32px;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
    gap: 1.5rem;
    background-color: var(--color-white);
    padding: 2rem 0;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    animation: fadeIn 0.5s ease-in-out;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
