@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-abersoft-blue: #0e97fd;
  --color-text: #707070;
  --color-white: #ffffff;
  --color-grey: #f6f6f9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
li {
  cursor: pointer;
  text-decoration: none;
}
