.container {
  position: relative;
}

.container[data-size="small"] {
  width: 32px;
  height: 32px;
}

.container[data-size="medium"] {
  width: 56px;
  height: 56px;
}

.container[data-size="large"] {
  width: 72px;
  height: 72px;
}
